@model Woodstore.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}
<head>
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/status.css" rel="stylesheet" />
</head>

<h2>Reset Password</h2>

<div class="col-lg-8 col-sm-10 center-block container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-lg-8 col-sm-10 center-block">

            @Html.LabelFor(model => model.Password, new { @class = "labelLogin", id = "username-status" }) 
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Password)

            @Html.LabelFor(model => model.RepeatPassword, new { @class = "labelLogin", id = "username-status" })
            @Html.ValidationMessageFor(model => model.RepeatPassword ,"", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.RepeatPassword)

            <div>
                <button class="buttonLogin">Create new Password</button>
            </div>
            <br />
            <br />
        </div>

    }
</div>